/* ---------- GENERAL ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 5px;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
    text-align: center;
    margin: 3em;
    padding: 3em;
}

.container h1 {
    font-size: 2em;
    margin: 20px 0;
}

#tagline {
    font-size: 1.1em;
    /*font-weight: 300;*/
    width: 66%;
}

.submissions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 50px;
}

.formulate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}

#userinput {
    border-radius: 8px;
    border-style: hidden;
    /*border-bottom: 2.5px solid purple;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    font-size: 1.5em;
    margin-top: 25px;
    outline-style: none;
    padding: 6px;
    width: 70%;
}

#userinput::placeholder {
    color: purple;
}

.button-container {
    padding: 20px;
}

#enter {
    background: #fff;
    border-style: hidden;
    border-bottom: 2.5px solid orange;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
    outline-style: none;
    font-size: 1.1em;
    padding: 6px 12px;
}

.disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#note {
    font-style: italic;
}

.disclaimer p {
    padding: 10px;
}


/* ---------- < 480 ---------- */


@media only screen and (max-width: 479px) {

  body {
      font-size: 12px;
  }

  .container {
      margin: 2.5em, 2em, 1em, 1em;
      margin-top: 2.5em;
      padding: 2.5em 1.25em;
  }

  .container h1 {
      font-size: 1.5em;
      margin: 10px 0;
      width: 80%;
  }

  #tagline {
      font-size: 1em;
      width: 66%;
  }

  .submissions {
      padding: 25px;
  }

  #userinput {
      font-size: 1.1em;
      margin-top: 15px;
      padding: 3px;
  }

  .button-container {
      padding: 10px;
  }

  #enter {
      font-size: 1em;
      padding: 4px 8px;
  }

  .disclaimer p {
      padding: 10px;
  }

}

/* ---------- DESKTOP ---------- */

@media only screen and (min-width: 1024px) {

    .container {
        margin-top: 6em;
    }
}
